@font-face {
    font-family: font;
    src: url(font/Zen_Dots/ZenDots-Regular.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@keyframes animateButton {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25rem);
    }
}

/* CONTENT */

#content01 {
    width: 100%;
    height: 100%;


    overflow: hidden;
    background-image: url(img/header.webp);
    background-repeat: no-repeat;
    background-position: top;
}

#playButton {
    width: 30rem;
    height: 10rem;
    cursor: pointer;
    user-select: none;

    position: fixed;
    left: -5%;
    top: 30%;
}

#tutorialButton {
    width: 20rem;
    height: 8rem;
    cursor: pointer;
    user-select: none;

    position: fixed;
    left: -3%;
    top: 50%;
}

#headerBg {
    width: 100%;
}

/* -------------------------------------- */

#content02 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background: #262632;

}

#infoText {
    font-size: 4rem;
    padding: 0;
    color: #FDB31D;
    font-family: font;
}

#levelContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: font;

    width: 90vw;
}


#levelContainer div {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 65rem;
    height: 35rem;
    cursor: pointer;
    user-select: none;

    background-color: white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    background-image: url(img/headerWithout.webp);
    background-repeat: no-repeat;
    background-position: center;
}


/* -------------------------------------- */


#content03 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden    ;

    background: #262632;

    margin: 0;
    padding: 0;
}

#tutorialContainer {
    width: 100vw;
    height: 45rem;

    background-image: url(img/museumDrinnen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#detekivErklaert {
    position: fixed;
    right: 25rem;
    top: 50%;

    width: 20rem;
}

#bubbleErklaert {
    position: fixed;
    right: 35rem;
    top: 15%;
    transform: rotateY(180deg) rotate(25deg);

    width: 45rem;
}

#textContainerErklaert {
    position: fixed;
    right: 46rem;
    top: 30%;

    width: 25rem;
    height: 12rem;
    padding: 2%;

    overflow: hidden;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

/* Buttons */
#prevBtn, #nextBtn {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#nextBtn {
    right: 50%;
}


/* -------------------------------------- */


#content04 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden    ;

    background: #262632;

    margin: 0;
    padding: 0;
}

#storySliderContainer {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.storyTrack {
    display: flex;
    transition: transform 0.4s;
}

.storyTrack div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;

}

.storyTrack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#StoryInfoText {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 4rem;
    padding: 0;
    color: #FDB31D;
    font-family: font;
    width: 95%;
}

.storyText{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 25rem;
    left: 1rem;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 2rem;
    width: 90%;
    height: 7rem;
    padding: 2%;
    
    font-family: font;
    font-size: 1rem;
    color: white;

    user-select: none;
}

#storyNext{
    width: 25rem;
    cursor: pointer;
    user-select: none;
}

