@font-face {
    font-family: font;
    src: url(font/Zen_Dots/ZenDots-Regular.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@keyframes animateButton {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25rem);
    }
}

/* CONTENT */

#content01 {
    width: 100%;
    height: 100%;


    overflow: hidden;
    background-image: url(img/header.webp);
    background-repeat: no-repeat;
    background-position: top;
}

#playButton {
    width: 30rem;
    height: 10rem;
    cursor: pointer;
    user-select: none;

    position: fixed;
    left: -5%;
    top: 30%;
}

#tutorialButton {
    width: 20rem;
    height: 8rem;
    cursor: pointer;
    user-select: none;

    position: fixed;
    left: -3%;
    top: 50%;
}

#headerBg {
    width: 100%;
}

/* -------------------------------------- */

#content02 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background: #262632;

}

#infoText {
    font-size: 4rem;
    padding: 0;
    color: #FDB31D;
    font-family: font;
}

#levelContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: font;

    width: 90vw;
}


#levelContainer div {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 65rem;
    height: 35rem;
    cursor: pointer;
    user-select: none;

    background-color: white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    background-image: url(img/headerWithout.webp);
    background-repeat: no-repeat;
    background-position: center;
}


/* -------------------------------------- */


#content03 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: #262632;

    margin: 0;
    padding: 0;
}

#tutorialContainer {
    width: 100vw;
    height: 45rem;

    background-image: url(img/museumDrinnen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#detekivErklaert {
    position: fixed;
    right: 25rem;
    top: 50%;

    width: 20rem;
}

#bubbleErklaert {
    position: fixed;
    right: 35rem;
    top: 15%;
    transform: rotateY(180deg) rotate(25deg);

    width: 45rem;
}

#textContainerErklaert {
    position: fixed;
    right: 46rem;
    top: 30%;

    width: 25rem;
    height: 12rem;
    padding: 2%;

    overflow: hidden;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

/* Buttons */
#prevBtn,
#nextBtn {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#nextBtn {
    right: 50%;
}


/* -------------------------------------- */


#content04 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: #262632;

    margin: 0;
    padding: 0;
}

#storySliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.storyTrack {
    display: flex;
    transition: transform 0.4s;
}

.storyTrack div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;

}

.storyTrack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#StoryInfoText {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 4rem;
    padding: 0;
    color: #FDB31D;
    font-family: font;
    width: 95%;
}

.storyText {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 35rem;
    left: 1rem;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 2rem;
    width: 90%;
    height: 7rem;
    padding: 2%;

    font-family: font;
    font-size: 1rem;
    color: white;

    user-select: none;
}

#storyNext {
    width: 25rem;
    cursor: pointer;
    user-select: none;
}



/* -------------------------------------- */

#content05 {

    justify-content: center;
    align-items: flex-end;


    height: 100vh;
    width: 100vw;
    /*  overflow: hidden    ; */


    background-image: url(img/criminals.webp);
    background-repeat: no-repeat;
    background-position: center;
}

#buttonBuch {
    position: fixed;
    top: 2rem;
    left: -2rem;
    width: 20rem;
    cursor: pointer;
}

#inventarButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 2rem;
    margin: 2%;
    padding: 0.5%;

    background-color: #262632ab;

    font-family: font;
    color: #FDB31D;
    cursor: pointer;
}

/* -------------------------------------- */

@keyframes moveUp {
    0% {
        bottom: -20rem;
    }

    100% {
        bottom: 0rem;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

#content06 {
    font-family: font;
    height: 100vh;
    width: 100vw;
    /*  overflow: hidden    ; */


    background-image: url(img/criminals.webp);
    background-repeat: no-repeat;
    background-position: center;

    animation: moveUp 3s 1 ease;
}

#content06 h1 {
    color: #FDB31D;
}

#buch {
    width: 100%;
    height: 100%;
}

#textAufgabenContainer {

    position: fixed;
    top: 10rem;
    left: 40%;
    width: 20rem;
    height: 30rem;
}

#print-warning {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 25rem;
    left: 40%;
    width: 20rem;
    height: 10rem;
    color: red;
    font-family: font;
    animation: shake 1s ease;
}

#ausweisContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    position: fixed;
    top: 15rem;
    left: 6%;
    width: 15rem;
    height: 25rem;
    user-select: none;

}

#ausweisImg {
    width: 100%;
    transform: rotate(90deg);
    margin: 2rem;

    cursor: pointer;
}

#buttonContainerBuch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 10rem;
    left: 70%;
    width: 20rem;
    height: 30rem;
    user-select: none;
}

#buttonContainerBuch img {
    width: 100%;
}

#back {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    height: 10rem;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 5rem;
}

#befragungenButton {
    cursor: pointer;
}

#verdaechtigeWahlButton {
    cursor: pointer;
}

/* -------------------------------------- */

#content07 {
    justify-content: center;
    align-items: flex-end;

    font-family: font;
    height: 100vh;
    width: 100vw;

    background-image: url(img/museumDrinnen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#block {
    width: 75%;
    height: 100%;
}

#items {
    font-size: 2rem;

    position: fixed;
    top: 10%;
    left: 25%;
}

/* -------------------------------------- */

#content08 {
    justify-content: center;
    align-items: flex-end;

    font-family: font;
    height: 100vh;
    width: 100vw;

    background-image: url(img/wahl.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wahlH1 {
    color: white;
    font-size: 4rem;
    position: fixed;
    bottom: 0;
    left: 3rem;
}



#besucher_choose {
    position: fixed;
    left: 21.5rem;
    bottom: 13rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
}

#wachmann_choose {
    position: fixed;
    left: 35rem;
    bottom: 13rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
}

#techniker_choose {
    position: fixed;
    left: 45rem;
    bottom: 13rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;

}

#arbeiterin_choose {
    position: fixed;
    left: 55rem;
    bottom: 13rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;

}

#museumFrau_choose {
    position: fixed;
    right: 21rem;
    bottom: 13.5rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;

}

#chooseRoundOne01 {
    position: fixed;
    left: 32.5rem;
    bottom: 28.5rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    height: 5rem;
}


#chooseRoundOne02 {
    position: fixed;
    left: 45rem;
    bottom: 28.5rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    height: 5rem;
}

#chooseRoundOne03 {
    position: fixed;
    right: 32.5rem;
    bottom: 28.5rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    height: 5rem;
}

#chooseRoundTwo {
    position: fixed;
    left: 45rem;
    top: 5.5rem;
    width: 6rem;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
    height: 5rem;
}





/* -------------------------------------- */
#content09 {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: #262632;

}

#content09 img {
    width: 100%;

}

#verdachtWahl {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(img/mugshot.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

#verdachtWahl img {
    cursor: pointer;
}

/* --------------------DIALOGE------------------ */

.akte {
    position: fixed;
    bottom: -3rem;
    left: -2rem;
    width: 45rem;
}

.backToChoose {
    color: white;
    font-size: 3rem;

    user-select: none;
    cursor: pointer;
}

#backToBook {
    position: fixed;
    top: 0;
    left: 0;

    color: white;
    font-size: 3rem;

    user-select: none;
    cursor: pointer;
}

.ueberFragen {
    position: fixed;
    top: 0;
    right: -4rem;

    padding: 2%;
    width: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FDB31D;
    font-family: font;


    background-image: url(img/button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dialogText {
    position: fixed;
    top: 15rem;
    left: 1rem;
    /*  border: 2px solid #ffffff; */
    width: 35rem;
    height: 38rem;
    font-family: font;
    font-size: 1rem;
    user-select: none;

    overflow-y: scroll;

}

.dialogText p {
    color: white;
    cursor: pointer;
}


.dialogText h3 {
    cursor: pointer;
}


/* KI - Scrollbar entfernen/bearbeiten */

.dialogText::-webkit-scrollbar {
    width: 10px;
}

.dialogText::-webkit-scrollbar-track {
    background: #00000000;
    /* Hintergrund */
    border-radius: 10px;
}

.dialogText::-webkit-scrollbar-thumb {
    background: #fdb21d00;
    /* Scroll-Ding */
    border-radius: 10px;
}

.dialogText::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* --------------------------------------------*/

.dialogTextBox h1 {
    font-family: font;
    cursor: pointer;
}




#content10 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url(img/dialog01.webp);
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}



#content11 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url(img/dialog04.webp);
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}

#content12 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url(img/dialog05.webp);
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}

#content13 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url(img/dialog02.webp);
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}

#content14 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url(img/dialog03.webp );
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
}

/* -------------------------------------- */


#content15 {
    width: 100vw;
    grid-template-columns: auto auto;
    gap: 0;
    scrollbar-width: none;
    overflow-x: hidden;
    background: #262632;
    padding: 2%;
}

#content15 img {
    width: 90%;
}